h1, h2, h3, h4, h5, p {
  margin: 0.5rem 0;
  padding: 0;
}
.class-range {
  font-size: 12px;
}

/*.ui {
  text-align: center;
}
.content {
  margin: 0 auto;
  width: 90%;
  max-width: 35em;
  min-width: 500px;
}*/

.ui .inner {
  background-color: #eee;
  border-right: 1px solid #ddd;
  // box-shadow: 1px 0 1px #e7e7e7;
}

$ui-color: #888;

ul li {
  -webkit-transition: all 0.25s;
  position: relative;

  font-family: Helvetica;
  color: $ui-color;
  font-size: 14px;
  label {
    // opacity: 0.5;
  }
  &:hover {
    color: #333;
    label {
      // opacity: 1;
    }
  }
}

input[type='range'] {
  background-color: rgba(#eee, 0);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}
input[type='range']::-webkit-slider-thumb {
  -webkit-transition: all 0.25s;
  opacity: 0.5;
  background-color: #bbb;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: rgba(#333, 0.9);
    width: 1.25rem;
    height: 1.25rem;
  }
}

select {
  color: inherit;
  font-size: inherit;
  border-radius: 0;
  border: none;
  
  cursor: pointer;
  background-color: hsla(0, 100%, 100%, 0);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);  
}

ul li {
  margin-bottom: 1em;
  background-color: rgba(255,255,255,0.5);
}

// h1 {
//   text-align: center;
// }
// #author {
//   text-align: center;
//   font-weight: normal;
//   font-family: 'Lato';
// }